doctype html
html(ng-app='cocviewer')
  head
    title hello world
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js')
    script(src='/public/app.js')

    style.
      .table { display: table; }
      section { display: table-row; }
      section p,div { display: table-cell; }
      section .label { width: 100px; }
      .label form { max-width: 80px; halign: center; }
      .label form input { width: 80px; }
  body
    div(ng-controller='CCBSummaryCtrl', ng-init='load()')
      div.table
        section.title
          p ID
          p Image
          p.label(ng-repeat='label in labels')
            {{label}}
        section(ng-repeat='sample in samples')
          p {{sample['src_id']}}
          p: img(src="/img/{{sample.src_id}}")
          div.label(ng-repeat='label in labels')
            form(ng-submit='submit(sample)')
              input(name='val', type='text', ng-model='sample[label]')
